.login-menu {
  width: 600px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ebf6ffa7;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login-menu h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #ffffff;
}
.login-menu h2 {
  display: inline;
  font-size: 2.5rem;
  color: #007bff;
}
.login-menu span {
  color: #ffb991;
}
.submit {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.login-menu input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #ffffffe4;
}
.login-menu form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.login-menu i {
  position: absolute;
  cursor: pointer;
  bottom: 214px;
  right: 65px;
  font-size: 16px;
}
.login-menu i:hover {
  color: #007bff;
}
.login-menu input:hover {
  border: 1px solid #007bff;
}
.submit:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}
.login-menu p {
  margin-top: 10px;
  font-size: 1rem;
  color: #007bff;
}
.web-menu {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ebf6ffa7;
  height: 410px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.web-menu img {
  width: 500px;
  border-radius: 15px;
}
.web-menu h2 {
  margin-top: 20px;
  color: #0056b3;
  font-size: 1.5rem;
  cursor: help;
}
.my-account {
  color: #007bff;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  min-width: 120px;
  height: 60px;
  background-color: #ffffffe3;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  max-width: 400px;
  gap: 12px;
}
.user-photo {
  color: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #4fa4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.my-account:hover .user-photo {
  background-color: #007bff;
}
.my-account:hover {
  transform: scale(1.05);
}
.user-name {
  font-size: 1rem;
  font-weight: 600;
}
.my-account-menu {
  position: absolute;
  top: 100px;
  right: 30px;
  background-color: #ebf6ffa7;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 130px;
  display: none;
  z-index: 800;
  height: auto;
}
.my-account-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.my-account-menu ul li a {
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
  display: block;
  padding: 8px;
  border-radius: 5px;
}
.my-account-menu ul li a:hover {
  background-color: #007bff;
  color: white;
}
.my-account-menu ul li button {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.profile-menu {
  position: absolute;
  top: 100px;
  left: 30px;
  background-color: #ebf6ffa7;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 240px;
  display: flex;
  z-index: 800;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4fa4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}
.profile-info {
  text-align: left;
}
.profile-info h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.3rem;
  width: 95%;
  text-align: center;
}
.profile-info p {
  margin: 5px 0;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
.profile-menu .profile-img:hover {
  background-color: #007bff;
}
.profile-menu:hover {
  transform: scale(1.02);
}
.profile-exit--btn {
  position: absolute;
  top: 10px;
  left: 14px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #007bff;
}
.profile-exit--btn:hover {
  color: #ff4d4d;
}
.profile-menu .profile-exit--btn i:hover {
  color: #ff4d4d;
}
.profile-info p span {
  color: #0056b3;
}
.main--checkbox {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.main-checkbox--box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 80%; 
  justify-content: flex-start;
  padding: 0;
  margin-left: -210px;
}
.main-checkbox--box h4 {
  font-size: 0.85rem;
  margin-left: 10px;
  width: 100%;
  text-align: left;
  margin-left: -90px;
}
.main-checkbox--box h4 a {
  color: #007bff;
  text-decoration: underline;
}